*{
	margin:0;
	padding:0;
	font-family: 'Roboto',sans-serif;
}
.container{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/23.jpg);
	background-position:center;
	background-size: cover;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
}


nav{
	flex:1;
	text-align:right;
}

nav ul li{
	list-style:none;
	display: inline-block;
	margin-left:60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size:13px;
}
	
	
.logo{
	width:60px;
	cursor:pointer;
}

nav ul{
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

nav ul li{
	display: inline-block;
	list-style:none;
	margin:10px 30px;
}

nav ul li a{
	color:#fff;
	text-decoration:none;
	position:relative;
}

nav ul li a::after{
	content:'';
	width:0%;
	height:3px;
	position:absolute;
	bottom:-5px;
	left:50%;
	transform:translateX(-50%);
	background:#fff;
	transition:width 0.3s;
}

nav ul li a:hover::after{
	width:50%;
}


.row{
	display:flex;
	height: 88%;
	align-items:center;
}

.col{
	flex-basis:50%;
}
.col{
	animation: slideleft 1s linear forwards;
}

@keyframes slideleft{
	0%{ 
		transform: translate(100px);
		opacity:0;
	}
	100%{
		transform:translate(0px);
		opacity:1;
	}
}

h1{
	color:#fff;
	font-size:60px;
}

p{
	color:#fff;
	font-size:10px;
	line-height:15px;
}

button{
	width:90px;
	color:#000;
	font-size:12px;
	padding:12px 0;
	background: #fff;
	border:0;
	border-radius:20px;
	outline:none;
	margin-top:30px;
	transition: transform 0.5s;
	cursor:pointer;
	
}




.card{
	width:170px;
	height:200px;
	display:inline-block;
	border-radius:10px;
	padding 15px 25px;
	box-sizing:border-box;
	cursor:pointer;
	margin:10px 15px;
	background-image:url(image/pic-1.png);
	background-position:center;
	background-size: cover;
	transition: transform 0.5s;
}

.card1{
	background-image: url(images/37.jpg);
}
.card2{
	background-image: url(images/16.jpg);
}
.card3{
	background-image: url(images/29.jpg);
}
.card4{
	background-image: url(images/pic-4.png);
}

.card:hover{
	transform:translateY(-10px);
}

h5{
	font-size: 15px;
	color:#fff;
	text-shadow:0 0 5px #999;
}

.card p{
	text-shadow: 0 0 15px #000;
	font-size: 8px;
}

